<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <table style="width: 400px; border-collapse: collapse;" border="0" cellpadding="15">
<tbody>
<tr>
<td style="width: 100%;">Behruz D.</td>
</tr>
<tr>
<td style="width: 100%;">
<table style="border-collapse: collapse; width: 100%;" border="0">
<tbody>
<tr>
    {% include navigation.html %}
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

    {{ content }}
  </body>
</html>
